__pycache__/
*.pyc
*.pyo
*.pyd

# large data and caches
# keep placeholder files while ignoring actual contents
data/**
!data/.gitkeep
data_cache/**
!data_cache/.gitkeep
data_cache_test/**
outputs/

# IDE/editor
.vscode/
.idea/

# build tools
tools/pycdc/build/
# ignore entire tools folder
tools/

# OS files
.DS_Store
Thumbs.db
